<ion-view view-title="Vehicles">
  <ion-content ng-init="init()">
    <ion-refresher
            pulling-text="Pull to refresh..."
            on-refresh="doRefresh()">
    </ion-refresher>
    <ion-list>
      <ion-item class="each-post" ng-repeat="car in cars" href="#/app/AllCars/{{car.sno}}">
        <div class="eachDealmini">
          <img class="" ng-src="{{car.samplepics}}"/>
          <div class="cost">{{car.price}}</div>
          <div class="title">{{car.color}} {{car.cartype}} {{car.model}}</div>
          <div class="area">{{car.location}}</div>
        </div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
